@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iylhkd');
  src:  url('fonts/icomoon.eot?iylhkd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iylhkd') format('truetype'),
    url('fonts/icomoon.woff?iylhkd') format('woff'),
    url('fonts/icomoon.svg?iylhkd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-o:before {
  content: "\e903";
}
.icon-angle-left:before {
  content: "\e904";
}
.icon-angle-right:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-phone:before {
  content: "\e942";
}
.icon-alarm:before {
  content: "\e950";
}

