@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?63ergq');
  src:  url('fonts/icomoon.eot?63ergq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?63ergq') format('truetype'),
    url('fonts/icomoon.woff?63ergq') format('woff'),
    url('fonts/icomoon.svg?63ergq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-share2:before {
  content: "\ea82";
}

